body {
    margin-left: 25vw;
    margin-right: 25vw;
    width: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: auto;
}

#tim12 {
    position: relative;
    height: 31vh;
    width: 100vh;
}

#image1 {
    position: absolute;
    left: 0%;
    height: 31vh;
    width: 53vh;
}

#image2 {
    position: absolute;
    right: 0%;
    height: 31vh;
    width: 45vh;
}

.testa {
    position: relative;
    background-image: url(../img/pattern.png);
    background-size: 30vh;
    background-color: rgb(10, 82, 124);
    height: 10vh;
}

#the {
    position: absolute;
    bottom: 35%;
    left: 4%;
    font-weight: bold;
    color: aliceblue;
    font-size: 200%;
    text-shadow: 5px 5px 5px black;
}

#booleaner {
    position: absolute;
    bottom: 8%;
    left: 2%;
    font-weight: bold;
    color: aliceblue;
    font-size: 200%;
    text-shadow: 5px 5px 5px black;
}

#titolo {
    font-size: 250%;
    font-weight: bold;
}

.datatrasparente {
    color: rgba(78, 78, 80, 0.70);
    font-size: small;
    font-weight: bold;

}

.blue {
    font-weight: bold;
    color: rgba(0, 65, 255, 0.65);
}

#dfoto {
    font-weight: 500;
    font-size: small;
}

.evidenziato {
    background-color: yellow;
}

table tr td {
    border: 1px solid black;

}

thead {
    background-color: rgba(0, 65, 255, 0.65);
}

.celeste {
    background-color: rgba(78, 120, 248, 0.65);
}

#fotofooter1 {
    background-image: url(../img/monitor.jpg);
    color: aliceblue;
    height: 20vh;
    width: 20vh;
    margin-top: 5px;

}

#fotofooter2 {
    background-image: url(../img/graph.jpg);
    color: aliceblue;
    height: 20vh;
    width: 20vh;
    margin-top: 5px;
}